#main-content.small
  #align
    .bloc
      .header 
        %h1 Listing Personnes
      .content
        %table
          %tr
            %th
              Nom
            %th
          - @people.each do |person|
            %tr
              %td
                - unless person.name == 'Mr Bureaux'
                  = link_to person.name, edit_person_path(person)
                - else
                  = person.name
              %td
                - unless person.name == 'Mr Bureaux'
                  = link_to 'Effacer', person, :confirm => 'Etes vous sure?', :method => :delete
                - else
                  pas impossible
    .bloc-bottom
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Ajouter une personne', new_person_path, :class => 'awesome small green'
