#main-content.small
  #align
    .bloc
      .header 
        %h1 Ajout personne
      .content
        = render 'form', :button_label => 'Creer'

    .bloc-bottom
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Listing Personnes', people_path, :class => 'awesome small green'