body
  :background #E5E5E5
#center
  :margin 50px auto
  :width 480px
  :font-family "Lucida Grande",arial,sans-serif
  #top
    :background url("/images/login_dialog.png") no-repeat scroll left top transparent
    :width 480px
    :height 12px
  #login
    :background url("/images/login_dialog.png") no-repeat scroll left bottom transparent
    :width 400px
    :padding 30px 40px
    input[type='text'], input[type='password']
      :height 25px
      :font-size 18px
      :color #333
    h2
      :color #333
      :font-size 20px
      :margin 0 0 20px
      :padding 0
    li
      :list-style none
      :font-size 12px
      :margin 0
      :padding 0
    ul
      :margin 30px 0
      :padding 10px 0 0 0
      :border-top dashed 1px #888

.text_field, .password_field
  :margin 10px 0
  label
    :width 100%
    :display block
    :font-size 14px
     
 