/* Inspired by http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */

/* Some awesomness ----- */

.awesome, .awesome:visited{
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome:hover {
    background-color:#111111;
    color:#FFFFFF;
}

a.awesome { text-decoration: none; }

/* Sizes ---------- */

.small.awesome { font-size: 11px; }
.medium.awesome { font-size: 13px; }
.large.awesome { font-size: 14px; padding: 8px 14px 9px; }

/* Colors ---------- */
.blue.awesome { background-color: #2daebf; }
.blue.awesome:hover { background-color:#007D9A; }
.red.awesome { background-color: #e33100; }
.red.awesome:hover { background-color:#872300; }
.magenta.awesome { background-color: #a9014b; }
.magenta.awesome:hover { background-color:#630030 }
.orange.awesome { background-color: #ff5c00; }
.orange.awesome:hover { background-color:#D45500; }
.yellow.awesome { background-color: #ffb515; }
.yellow.awesome:hover { background-color:#FC9200; }
.green.awesome { background-color: #739829; }
.green.awesome:hover { background-color: #628718; }