#comments {
    width:100%;
}

#comments .avatar {
    width: 50px;
}

#comments .avatar img {
    padding: 1px;
    border: #aaa 1px solid;
}

#comments .comment {
    padding: 0 0 0 10px;
    font-size: 12px;
    vertical-align: top;
}
