#main-content
  #align
    .bloc
      .header 
        %h1 Edition kebab
      .content
        - form_for(@kebab) do |f|
          = render 'form', :f => f
          = f.submit 'Sauver'
    .bloc-bottom
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Listing kebab', kebabs_path, :class => 'awesome small green'
