#main-content
  #align
    .bloc
      .header 
        %h1 Edition kebab
      .content
        
        = render 'form', :button_label => 'Sauver'
          
    .bloc-bottom
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Listing kebab', kebabs_path, :class => 'awesome small green'
    %h2 Infos
    %p
      Utilisez 
      = link_to 'gravatar.com', 'http://www.gravatar.com'
      pour faire apparaitre votre avatar a cote de vos commentaires.
