#main-content.small
  #align
    .bloc
      .header 
        %h1 Listing kebabs
      .content
        %table
          %tr
            %th
              Date
            %th
              Infos
            %th
          - @kebabs.each do |kebab|
            %tr
              %td
                = link_to kebab.date.strftime('%d/%m/%Y'), edit_kebab_path(kebab)
              %td
                = kebab.comments.size
                Commentaire(s)
                -#= link_to truncate(kebab.comment, :length => 30), edit_kebab_path(kebab)
              %td
                = link_to 'Effacer', kebab, :confirm => 'Etes vous sure?', :method => :delete
    .bloc-bottom
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Ajouter un kebab', new_kebab_path, :class => 'awesome small green'
